.App {
  text-align: center;
  display: grid;

  grid-template-rows: 20% 80%;
  grid-template-areas:
    'logo'
    'hunt';
  height: 100vh;
  width: 100vw;
}

#logo {
  grid-area: logo;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hunt {
  grid-area: hunt;
  display: grid;
  grid-template-rows: 10% 20% 70%;
  grid-template-areas:
    'name'
    'progress-bar'
    'hunt-content';
  height: 100%;
}

.name {
  grid-area: name;
}

.progress-bar {
  grid-area: progress-bar;
}

.hunt-content {
  grid-area: hunt-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.camera {
  width: 80%;
  max-width: 400px;
}

a {
  text-decoration: none;
  color: inherit;
}
